body {
    margin: 0;
    padding: 0;
    background-color: #eef0dd72;
}

.container {
    background-color: #189062;
    margin: 5% auto;
    border-radius: 16px;
}

.task-area {
    padding: 1em;
}

.container,
#taskInput {
    width: 60%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-align: center;
}

#taskInput,
p {
    font-size: 1.25em;
}

#addTaskButton,
#removeFinishedTasksButton,
button {
    margin: 1em;
    border-radius: 1em;
    width: 12em;
    height: 4em;
    border: 1px solid #FF6347;
    font-weight: bolder;
    background-color: #1E90FF;
    cursor: pointer;
}

#removeFinishedTasksButton {
    width: 16em;
    border: 1px solid #706c6b;
    background-color: #FF4500;
}

button {
    margin: 0.25em;
    width: 7em;
    height: 2em;
    background-color: #383232;
}

#addTaskButton,
#removeFinishedTasksButton,
p,
button {
    text-shadow: 0px 0px 1px #000;
    text-transform: uppercase;
    color: #fff;
}

#addTaskButton:hover,
#removeFinishedTasksButton:hover {
    transform: scale(1.02);
}

li {
    list-style-type: none;
    text-align: left;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 8px;
    background-color: #ffffffa1;
    box-shadow: 0px 2px 4px #00000029;

}

h3 {
    color: #1E90FF;
    text-shadow: 0px 1px 1px #000;
    margin: 0.5em;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    #taskInput,
    p,
    h2 {
        font-size: 0.75em;
    }

    #addTaskButton,
    #removeFinishedTasksButton,
    button {
        font-weight: 400;
        font-size: 0.5em;
    }

    #addTaskButton,
    #removeFinishedTasksButton {
        height: 3em;
    }

    .container {
        padding: 0;
        width: 90%;
        height: 100%;
    }
}